// Body
$body-bg: #FFF;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Noto Sans", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #333;
