// Body
$body-bg: #FFF;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Noto Sans", sans-serif;
$font-size-base: 16px;
$line-height-base: 2.0;
$text-color: #000;
$transition: all 0.2s ease-in-out;
